body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
button {
  padding: 10px 15px;
  background-color: #887bb0;
  color: white;
  border: none;
  border-radius: 4px;
  margin-bottom: 40px;
  position: relative;
}
button::before {
  content: attr(data-tooltip);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.575);
  width: max-content;
  padding: 5px;
  border-radius: 4px;
  transition: 150ms;
}
button::after {
  content: "";
  border: 5px solid transparent;
  position: absolute;
  transition: 150ms;
}

/* 
--------------------------------------
tooltip for button 1.
--------------------------------------
*/
button:nth-child(1)::before,
button:nth-child(1)::after {
  left: 50%;
  top: -5px;
}
button:nth-child(1)::before {
  transform-origin: bottom center;
  transform: translateX(-50%) translateY(-100%) scale(0);
}
button:nth-child(1)::after {
  border-top-color: rgba(0, 0, 0, 0.575);
  transform: translateX(-50%) scale(0);
  transform-origin: top center;
}
button:nth-child(1):hover::before {
  transform: translateX(-50%) translateY(-100%) scale(1);
}
button:nth-child(1):hover::after {
  transform: translateX(-50%) scale(1);
}

/* 
--------------------------------------
tooltip for button 2.
--------------------------------------
*/
button:nth-child(2)::before,
button:nth-child(2)::after {
  top: 50%;
  left: -5px;
}
button:nth-child(2)::before {
  transform: translateX(-100%) translateY(-50%) scale(0);
  transform-origin: right center;
}
button:nth-child(2)::after {
  border-left-color: rgba(0, 0, 0, 0.575);
  transform: translateY(-50%) scale(0);
  transform-origin: left center;
}
button:nth-child(2):hover::before {
  transform: translateX(-100%) translateY(-50%) scale(1);
}
button:nth-child(2):hover::after {
  transform: translateY(-50%) scale(1);
}

/* 
--------------------------------------
tooltip for button 3.
--------------------------------------
*/
button:nth-child(3)::before,
button:nth-child(3)::after {
  top: 50%;
  right: -5px;
}
button:nth-child(3)::before {
  right: -5px;
  transform: translateX(100%) translateY(-50%) scale(0);
  transform-origin: left center;
}
button:nth-child(3)::after {
  border-right-color: rgba(0, 0, 0, 0.575);
  transform: translateX(100%) translateY(-50%) scale(0);
  transform-origin: right center;
}
button:nth-child(3):hover::before {
  transform: translateX(100%) translateY(-50%) scale(1);
}
button:nth-child(3):hover::after {
  transform: translateY(-50%) scale(1);
}

/* 
--------------------------------------
tooltip for button 3.
--------------------------------------
*/
button:nth-child(4)::before,
button:nth-child(4)::after {
  left: 50%;
  bottom: -5px;
}
button:nth-child(4)::before {
  transform-origin: top center;
  transform: translateX(-50%) translateY(100%) scale(0);
}
button:nth-child(4)::after {
  border-bottom-color: rgba(0, 0, 0, 0.575);
  transform: translateX(-50%) scale(0);
  transform-origin: bottom center;
}
button:nth-child(4):hover::before {
  transform: translateX(-50%) translateY(100%) scale(1);
}
button:nth-child(4):hover::after {
  transform: translateX(-50%) scale(1);
}
